kind: Secret
apiVersion: v1
metadata:
  name: config-secret
  namespace: postgresql
type: Opaque
data:
  postgresql-password: {{ lookup('password', '/dev/null length=12 chars=ascii_letters') | string | b64encode }}
  postgresql-postgres-password: {{ lookup('password', '/dev/null length=12 chars=ascii_letters') | string | b64encode }}
