kind: Secret
apiVersion: v1
metadata:
  name: config-secret
  namespace: postgresql
type: Opaque
data:
  postgresql-password: {{ postgresql_password | b64encode }}
  postgresql-postgres-password: {{ postgresql_postgres_password | b64encode }}
