apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: tavros
  namespace: postgresql
spec:
  releaseName: tavros
  chart:
    spec:
      chart: postgresql
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      version: 11.6.3
  interval: 30m
  install:
    remediation:
      retries: 3
  # Default values
  # https://github.com/bitnami/charts/blob/540669fa16b4be8a23cdec1d854f2433f92b920f/bitnami/postgresql/values.yaml
  values:
    global:
      postgresql:
        auth:
          database: postgres
          existingSecret: tavros-pg-creds
{% if elastic_cloud.enabled %}
    primary:
      podAnnotations:
        co.elastic.logs.tavros-postgresql/enabled: "true"
        co.elastic.logs.tavros-postgresql/module: "postgresql"
{% endif  %}
