apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: tavros
  namespace: postgresql
spec:
  releaseName: tavros
  chart:
    spec:
      chart: postgresql-ha
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      version: 7.9.6
  interval: 30m
  install:
    remediation:
      retries: 3
  # Default values
  # https://github.com/bitnami/charts/blob/master/bitnami/postgresql-ha/values.yaml
  values:
    global:
      postgresql:
        database: postgres
        existingSecret: tavros-pg-creds
    pgpool:
      replicaCount: 2
      initdbScriptsSecret: tavros-pgpool-init-script

      
{% if elastic_cloud.enabled %}
    postgresql:
      podAnnotations:
        co.elastic.logs.postgresql/enabled: "true"
        co.elastic.logs.postgresql/module: "postgresql"
{% endif  %}
