kind: Secret
apiVersion: v1
metadata:
  name: tavros-pg-creds
  namespace: postgresql
type: Opaque
data:
  postgres-password: {{ postgresql.password | b64encode }}
  postgres-postgres-password: {{ postgresql.postgres_password | b64encode }}
