apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: troubadour
  namespace: cert-manager
spec:
  acme:
    email: ops@{{ cluster_name }}.{{ cluster_domain }}
    server: https://acme-v02.api.letsencrypt.org/directory
    preferredChain: "ISRG Root X1"
    privateKeySecretRef:
      name: troubadour-issuer-account-key
    solvers:
{% for item in kong.instances %}
    - selector:
        dnsZones:
        - '{{ item.name }}.{{ cluster_name }}.{{ cluster_domain }}'
{%  if (item.ingress_class == kong.default_ingress_class) %}
        - '{{ cluster_name }}.{{ cluster_domain }}'
        - 'apps.{{ cluster_name }}.{{ cluster_domain }}'
{% else  %}
        - '{{ item.ingress_class }}.{{ cluster_name }}.{{ cluster_domain }}'
        - 'apps.{{ item.ingress_class }}.{{ cluster_name }}.{{ cluster_domain }}'
{% endif  %}
      http01:
        ingress:
          class: {{ item.ingress_class }}
{% endfor %}
