apiVersion: v1
kind: Secret
metadata:
  labels:
    license.k8s.elastic.co/scope: operator
  name: eck-license
  namespace: elastic-system
type: Opaque
data:
  license: {{ elastic_cloud.ee.license | b64encode }}
