apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: tavros-init-scripts
  namespace: elastic-system
data:
  'jaeger.sh': {{ lookup('template', 'jaeger-init.j2') | b64encode }}
  'lifecycle-policies-init.sh': {{ lookup('template', 'lifecycle-policies-init.j2') | b64encode }}
