apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: tavros-nexus
  namespace: keycloak
  labels:
    client: nexus
spec:
  realmSelector:
    matchLabels:
        realm: {{ nexus.keycloak.realm }}
  client:
    clientId: "nexus"
    secret: "{{ nexus.keycloak.client_secret }}"
    clientAuthenticatorType: client-secret
    protocol: openid-connect
    redirectUris:
    - "https://artifacts.{{ cluster_fqdn }}/*"
    directAccessGrantsEnabled: True
    standardFlowEnabled: True
    authorizationServicesEnabled: True
    serviceAccountsEnabled: True
    enabled: True
    defaultClientScopes:
      - "email"
      - "profile"
      - "roles"
      - "offline_access"
      - "web-origins"
      - "phone"
      - "microprofile-jwt"
      - "address"
  roles:
    - name: "admin"
    - name: "developer"
  serviceAccountClientRoles:
    "realm-management":
      - "view-clients"
      - "view-users"
      - "view-realm"