apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: tavros-keycloak-config
  namespace: nexus
data:
  keycloak-config.json: {{ lookup('template', 'keycloak-config.j2') | to_json | string | b64encode }}
