apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kuma-system
resources:
  - ns.yaml
  - default-release.yaml
{% for item in meshes %}
  - meshes/{{ item.mesh_name }}.yaml
{% endfor %}
