apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kuma-system
resources:
  - ns.yaml
  - release.yaml
{% for item in kuma.meshes %}
  - {{ item.name }}/mesh.yaml
{% if item.traffictrace.enabled and jaeger.enabled %}
  - {{ item.name }}/traffictrace.yaml
{% endif %}
{% endfor %}
