apiVersion: kuma.io/v1alpha1
kind: Mesh
metadata:
  name: {{ item[0].name }}
  namespace: kuma-system
{%  if item[0].mtls.enabled is defined and item[0].mtls.enabled %}
spec:
  mtls:
    enabledBackend: ca-1
    backends:
      - name: ca-1
        type: builtin
        dpCert:
          rotation:
            expiration: 1d
        conf:
          caCert:
            RSAbits: 2048
            expiration: 10y
{%  endif %}
{%  if item[0].traffictrace.enabled is defined and item[0].traffictrace.enabled and jaeger.enabled %}
  tracing:
    defaultBackend: jaeger-collector
    backends:
      - name: jaeger-collector
        type: zipkin
        sampling: 100
        conf:
          url: http://tavros-collector.jaeger.svc.cluster.local:9411/api/v2/spans
{%  endif %}
