apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ns.yaml
  - helm-source.yaml
  - values-secret.yaml
  - keycloak-client.yaml
{% if ('test-run' in ansible_run_tags) %}
  - ca-certs-config.yaml
{% endif %}
  - release.yaml
  - ingress.yaml
