fullnameOverride: gitea

gitea:
  admin:
    username: 'gitea_admin'
    password: '{{ gitea.admin.password }}'
    email: '{{ cluster_admin_email }}'

  config:
    service:
      # Disable registration, except via OpenID
      DISABLE_REGISTRATION: false
      ALLOW_ONLY_EXTERNAL_REGISTRATION: true
    openid:
      # Do not allow signin to local users via OpenID
      ENABLE_OPENID_SIGNIN: false
      # Do not allow creation of new users via OpenID
      ENABLE_OPENID_SIGNUP: false

    server:
      ROOT_URL: 'https://code.{{ cluster_name}}.{{ cluster_domain }}/'
      SSH_DOMAIN: 'code.{{ cluster_name}}.{{ cluster_domain }}'

    database:
      DB_TYPE: postgres
      HOST: 'tavros-postgresql.postgresql.svc.cluster.local:5432'
      NAME: 'gitea'
      USER: 'gitea'
      PASSWD: '{{ gitea.pg.password }}'

    security:
      PASSWORD_COMPLEXITY: 'off'

  database:
    builtIn:
      postgresql:
        enabled: false

{% if ('test-run' in ansible_run_tags) %}
extraVolumes:
- name: ca-certs
  configMap:
    name: ca-certs
extraVolumeMounts:
- name: ca-certs
  mountPath: /etc/ssl/certs/
{% endif %}
