apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-configuration
  namespace: jenkins
data:
  1-casc.yaml: |
    unclassified:
      location:
        url: https://ci.{{ cluster_name}}.{{ cluster_domain }}/
        adminAddress: {{ cluster_admin_email }}
      keycloakSecurityRealm:
        keycloakJson: |-
          {
            "realm": "{{ jenkins.keycloak_realm }}",
            "auth-server-url": "https://auth.{{ cluster_name }}.{{ cluster_domain }}/auth/",
{%  if 'test-run' in ansible_run_tags %}
            "disable-trust-manager": true,
            "allow-any-hostname": true,
{% endif  %}
            "ssl-required": "external",
            "resource": "jenkins",
            "public-client": true,
            "confidential-port": 0
          }
    jenkins:
      securityRealm: keycloak
