apiVersion: keycloak.org/v1alpha1
kind: KeycloakUser
metadata:
  name: tavros-jenkins-ci
  namespace: keycloak
spec:
  realmSelector:
    matchLabels:
      realm: {{ jenkins.keycloak.realm }}
  user:
    username: jenkins-ci
    enabled: true
    emailVerified: true
    credentials:
      - type: password
        value: '{{ jenkins.keycloak.password }}'
        temporary: false
    clientRoles:
      nexus:
        - "developer"
