apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: tavros-gitea-creds
  namespace: jenkins
  labels:
    jenkins.io/credentials-type: "usernamePassword"
  annotations:
    jenkins.io/credentials-description: "Jenkins' Gitea HTTP Credentials"
stringData:
  username: 'jenkins-ci'
  password: '{{ jenkins.gitea.password }}'
