apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: keycloak-basic-auth
  namespace: jenkins
  labels:
    jenkins.io/credentials-type: "usernamePassword"
  annotations:
    jenkins.io/credentials-description: "Jenkins' Keycloak Credentials"
stringData:
  username: 'jenkins-ci'
  password: '{{ jenkins.keycloak.password }}'
