apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ns.yaml
  - helmrepo.yaml
{% for item in kong.ee_creds %}
  - {{ item.name }}-secret-ee-license.yaml
{% endfor %}
{% for item in kong.instances %}
  - {{ item.name }}/
{% endfor %}
