apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ns.yaml
{% for item in kong.ee_creds %}
  - {{ item.name }}-ee-license-secret.yaml
  - {{ item.name }}-ee-docker-secret.yaml
{% endfor %}
{% for item in kong.instances %}
  - {{ item.name }}/
{% endfor %}