kind: Secret
apiVersion: v1
metadata:
  name: {{ item.kong_name }}-config-secret
  namespace: kong
type: Opaque
data:
  pg_database: {{ item.kong_name | b64encode }}
  pg_user: {{ item.kong_name | b64encode }}
  pg_password: {{ kongs_db_info[ item.kong_name ].pg_pass | b64encode }}
