kind: Secret
apiVersion: v1
metadata:
  name: {{ item.name }}-config-secret
  namespace: kong
type: Opaque
data:
  pg_database: {{ item.name | b64encode }}
  pg_user: {{ item.name | b64encode }}
  pg_password: {{ item.pg.password | b64encode }}
