kind: Secret
apiVersion: v1
metadata:
  name: {{ kong_name }}-config-secret
  namespace: kong
type: Opaque
data:
  pg_database: {{ 'kong' | b64encode }}
  pg_user: {{ 'kong' | b64encode }}
  pg_password: {{ 'kong' | b64encode }}
