apiVersion: v1  
kind: Secret
type: Opaque
metadata:
  name: {{ item.name }}-enterprise-superuser-password
  namespace: kong
data:
  password: {{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=8') | b64encode }}
