apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ item.name }}
  namespace: kong
  annotations:
    konghq.com/strip-path: "true"
    konghq.com/protocols: https
    kubernetes.io/ingress.class: {{ item.ingress_class }}
    cert-manager.io/cluster-issuer: troubadour
spec:
  tls:
  - hosts:
    - "admin.{{ item.name }}.{{ cluster_name }}.{{ cluster_domain }}"
    - "portal-api.{{ item.name }}.{{ cluster_name }}.{{ cluster_domain }}"
    - "portal.{{ item.name }}.{{ cluster_name }}.{{ cluster_domain }}"
    secretName: {{ item.name }}-ingress-certs
  rules:
  - host: "admin.{{ item.name }}.{{ cluster_name }}.{{ cluster_domain }}"
    http:
      paths:
      - path: /
        backend:
          serviceName: kong-{{ item.name }}-kong-manager
          servicePort: 8002
  - host: "portal.{{ item.name }}.{{ cluster_name }}.{{ cluster_domain }}"
    http:
      paths:
      - path: /
        backend:
          serviceName: kong-{{ item.name }}-kong-portal
          servicePort: 8003
  - host: "portal-api.{{ item.name }}.{{ cluster_name }}.{{ cluster_domain }}"
    http:
      paths:
      - path: /
        backend:
          serviceName: kong-{{ item.name }}-kong-portalapi
          servicePort: 8004
