apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
{%  if item[0].ee.enabled %}
  - secret-ee-admin-creds.yaml
  - secret-ee-admin-gui-auth.yaml
  - secret-ee-admin-gui-session.yaml
{% endif  %}
  - secret-pg-creds.yaml
{%  if item[0].hybrid %}
  - hybrid-certs.yaml
  - release-dp.yaml
  - release-cp.yaml
{% else %}
  - release.yaml
{% endif  %}
  - ingress.yaml
