apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
{%  if item.ee.enabled %}
  - ee-superuser-secret.yaml
  - ee-session-secret.yaml
  - ee-admin-gui-auth-secret.yaml
{% endif  %}
  - config-secret.yaml
  - release.yaml
  - ingresses.yaml
