apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - release.yaml
  - config-secret.yaml
{%  if item.ee.enabled %}
  - ingresses.yaml
  - ee-superuser-secret.yaml
  - ee-session-secret.yaml
  - ee-admin-gui-auth-secret.yaml
{% endif  %}
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
  - name: {{ item.name }}-values-config
    namespace: kong
    files:
      - values.yaml=values.yaml
