apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: tavros-{{ item[0].name }}-ee-admin-gui-session
    namespace: kong
data:
    admin_gui_session_conf: {{ ('{\"cookie_name\":\"admin_session\",\"cookie_samesite\":\"off\",\"secret\":\"' + lookup('password', '/dev/null')  + '\",\"cookie_secure\":true,\"storage\":\"kong\"}') |  b64encode }}
    portal_session_conf: {{ ('{\"cookie_name\":\"portal_session\",\"cookie_samesite\":\"off\",\"secret\":\"' + lookup('password', '/dev/null')  + '\",\"cookie_secure\":true,\"storage\":\"kong\"}') |  b64encode }}
