apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}-ee-registry
  namespace: kong
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ config | to_json | string | b64encode }}
