kind: Secret
apiVersion: v1
metadata:
  name: tavros-{{ item[0].name }}-pg-creds
  namespace: kong
type: Opaque
data:
  pg_database: {{ item[0].name | b64encode }}
  pg_user: {{ item[0].name | b64encode }}
  pg_password: {{ item[0].pg.password | b64encode }}
