{%  if item.ee.enabled %}
image:
  repository: kong-docker-kong-enterprise-edition-docker.bintray.io/kong-enterprise-edition
  tag: "2.2.1.0-alpine"
  pullSecrets:
    - {{ item.ee.creds }}-kong-enterprise-edition-docker
{% else  %}
image:
  tag: '2.2'
{% endif  %}
env:

{%  if item.ee.enabled %}
  admin_api_uri: "https://admin-api.{{ item.name }}.{{ cluster_name }}.{{ cluster_domain }}"
  admin_gui_url: "https://admin.{{ item.name }}.{{ cluster_name }}.{{ cluster_domain }}"
  portal_api-url: "https://dev-portal-api{{ ('.' + item.ingress_class) if (item.ingress_class != kong.default_ingress_class) else ('') }}.{{ cluster_name }}.{{ cluster_domain }}"
  portal_gui_host: "dev-portal{{ ('.' + item.ingress_class) if (item.ingress_class != kong.default_ingress_class) else ('') }}.{{ cluster_name }}.{{ cluster_domain }}"
  portal_gui_protocol: "https"
  password:
    valueFrom:
      secretKeyRef:
        name: {{ item.name }}-enterprise-superuser-password
        key: password
{% endif  %}

  database: postgres
  pg_host: tavros-postgresql.postgresql
  pg_port: '5432'
  pg_database:
    valueFrom:
      secretKeyRef:
        name: {{ item.name }}-config-secret
        key: pg_database
  pg_user:
    valueFrom:
      secretKeyRef:
        name: {{ item.name }}-config-secret
        key: pg_user
  pg_password:
    valueFrom:
      secretKeyRef:
        name: {{ item.name }}-config-secret
        key: pg_password
ingressController:
  ingressClass: {{ item.ingress_class }}
  installCRDs: false
  env:
  # see https://github.com/Kong/charts/issues/224
    kong_admin_tls_skip_verify: 'true'

{%  if item.ee.enabled %}
    kong_admin_token:
      valueFrom:
        secretKeyRef:
           name: {{ item.name }}-enterprise-superuser-password
           key: password
{% endif  %}

{%  if item.kuma_mesh_name is defined %}
podAnnotations:
  kuma.io/sidecar-injection: enabled
  kuma.io/gateway: enabled
  kuma.io/mesh: {{ item.kuma_mesh_name }}
{% endif  %}

admin:
  enabled: true
  http:
    enabled: true
    
{%  if item.ee.enabled %}
enterprise:
  enabled: true
  license_secret: {{ item.ee.creds }}-kong-enterprise-license
  vitals:
    enabled: true
  portal:
    enabled: true
  rbac:
    enabled: true
    admin_gui_auth: openid-connect
    session_conf_secret: {{ item.name }}-session-config
    admin_gui_auth_conf_secret: {{ item.name }}-admin-gui-auth-conf
{% endif  %}