AZURE_SUBSCRIPTION_ID={{ aks.subscription_id }}
AZURE_TENANT_ID={{ aks.tenant_id }}
AZURE_CLIENT_ID={{ aks.sp.client_id }}
AZURE_CLIENT_SECRET={{ aks.sp.client_secret }}
AZURE_RESOURCE_GROUP={{ aks.resource_group }}
AZURE_CLOUD_NAME=AzurePublicCloud