apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: service-account-creds
  namespace: velero
data:
  cloud: {{ lookup('template', ('azure-sp-creds.j2' if (kubernetes_cluster.cloud_provider == 'aks') else 'aws-sp-creds.j2' if (kubernetes_cluster.cloud_provider == 'aws')) ) | b64encode }}
