apiVersion: v1
kind: Namespace
metadata:
  name: {{ item.name }}
{%  if item.kuma_mesh_name is defined %}
  annotations:
    kuma.io/mesh: {{ item.kuma_mesh_name }}
    kuma.io/sidecar-injection: enabled
{% endif  %}
