apiVersion: v1
kind: Secret
metadata:
  name: tavros-artifacts-registry
  namespace: {{ item.name }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ config | to_json | string | b64encode }}
