apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tavros
  namespace: keycloak
  annotations:
    cert-manager.io/cluster-issuer: tavros
    kubernetes.io/ingress.class: {{ kong.default_ingress_class }}
    konghq.com/strip-path: 'true'
    konghq.com/protocols: https
    konghq.com/https-redirect-status-code: '302'
spec:
  rules:
  - host: auth.{{ cluster_fqdn }}
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: keycloak-discovery
            port:
              number: 8080
  tls:
  - hosts:
    - auth.{{ cluster_fqdn }}
    secretName: auth-ingress-cert
