apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: keycloak
  namespace: keycloak
  annotations:
    cert-manager.io/cluster-issuer: troubadour
    kubernetes.io/ingress.class: {{ kong.default_ingress_class }}
    konghq.com/strip-path: 'true'
    konghq.com/protocols: https
    konghq.com/https-redirect-status-code: '302'
spec:
  rules:
  - host: auth.{{ cluster_name}}.{{ cluster_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: keycloak-discovery
          servicePort: 8080
  tls:
  - hosts:
    - auth.{{ cluster_name}}.{{ cluster_domain }}
    secretName: auth-ingress-cert
