apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: keycloak-db-secret
  namespace: keycloak
stringData:
  POSTGRES_USERNAME: "keycloak"
  POSTGRES_DATABASE: "keycloak"
  POSTGRES_PASSWORD: "{{ keycloak.pg.password }}"
  POSTGRES_HOST: "keycloak-postgresql"
  POSTGRES_EXTERNAL_ADDRESS: "tavros-postgresql.postgresql.svc.cluster.local"
  POSTGRES_EXTERNAL_PORT: "5432"
  POSTGRES_SUPERUSER: "false"
