apiVersion: keycloak.org/v1alpha1
kind: KeycloakUser
metadata:
  name: {{ item.name}}
  labels:
    app: sso
spec:
  user:
    username: {{ cluster_admin_email }}
    email: {{ cluster_admin_email }}
    enabled: True
    emailVerified: True
    credentials:
      - type: "password"
        value: "{{ item.admin_password }}"
        temporary: False
    realmRoles:
      - "offline_access"
      - "uma_authorization"
    clientRoles:
      account:
        - "manage-account"
        - "view-profile"
      {{item.name}}:
        - "super-admin"
  realmSelector:
    matchLabels:
      realm: {{ item.name }}
