apiVersion: keycloak.org/v1alpha1
kind: KeycloakUser
metadata:
  name: {{ item.name }}
  namespace: keycloak
  labels:
    app: sso
spec:
  realmSelector:
    matchLabels:
      realm: {{ item.name }}
  user:
    username: {{ cluster_admin_email }}
    firstName: Troubadour
    lastName: Admin
    email: {{ cluster_admin_email }}
    enabled: True
    emailVerified: True
    credentials:
      - type: "password"
        # todo: should be a secret?
        value: "{{ item.admin_password }}"
        temporary: False
    realmRoles:
      - "offline_access"
    clientRoles:
      account:
        - "manage-account"
        - "view-profile"
      realm-management:
        - "realm-admin"
