apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: tavros-es-creds
  namespace: jaeger
data:
  ES_USERNAME: {{ 'elastic' | b64encode }}
  ES_PASSWORD: {{ elastic_cloud.elastic_secret | b64encode }}
