apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: tavros-es-http-certs
  namespace: jaeger
data:
  ca.crt: {{ elastic_certs.resources[0].data['ca.crt'] | default("") }}
  tls.crt: {{ elastic_certs.resources[0].data['tls.crt'] | default("") }}
