gitea:
  admin:
    username: "{{ gitea.admin.user }}"
    password: "{{ gitea.admin.pass }}"
    email: "{{ gitea.admin.email }}"
  config:
    database:
      DB_TYPE: postgres
      HOST: troubadour-postgresql.postgresql.svc.cluster.local:5432
      NAME: "{{ gitea.pg.db }}"
      USER: "{{ gitea.pg.user }}"
      PASSWD: "{{ gitea.pg.pass }}"